body {
    font-family: sans-serif;
}

nav a {
    background-color: #00AE68;
    padding: 10px;
    border: solid 5px #00AE68;
    border-radius: 40px;

}
nav {
    text-align: center;
    padding: 20px;
}


b {
    color: #FF4D00;
}

footer {
    background-color:#00AE68;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
}

main p {
 font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
